:root {
  --black-shadow: rgba(0, 0, 0, 0.4);
  --white-shadow: rgba(255, 255, 255, 0.4);
  --main-color1: rgb(41, 35, 55);
  --main-color2: rgb(62, 50, 83);
  --square-color: rgba(213, 213, 213, 0.5);
  --square-color-hover: rgba(238, 238, 238, 0.7);
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color1);
}

main {
  margin-top: 40px;
  font-family: "Chewy", system-ui;
}

/* icons */
.p1::before, .p1::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: var(--height);
  width: var(--width);
  border-radius: 10px;
  background-color: red;
  box-shadow: 0 0 30px 1px rgba(255, 0, 0, 0.4);
}
.p1::before {
  transform: translate(-50%, -50%) rotateZ(45deg);
}
.p1::after {
  transform: translate(-50%, -50%) rotateZ(-45deg);
}

.p2::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: var(--radius);
  width: var(--radius);
  border-radius: 100%;
  border: solid var(--width) blue;
  box-shadow: 0 0 30px 1px rgba(0, 0, 255, 0.4), inset 0 0 30px 1px rgba(0, 0, 255, 0.4);
}

.draw::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: var(--height);
  width: var(--width);
  background-color: gold;
  border-radius: 10px;
  box-shadow: 0 0 30px 1px rgba(255, 215, 0, 0.4), inset 0 0 30px 1px rgba(255, 215, 0, 0.4);
}

/* tic-tac-toe base style */
.game-area {
  position: relative;
  margin: 0 auto;
  width: min-content;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 15px;
}

.square {
  position: relative;
  border-radius: 10px;
  background-color: var(--square-color);
  cursor: pointer;
  box-shadow: 5px 5px 0 0 var(--black-shadow), inset -4px -4px 20px 0 var(--black-shadow);
}
.square:hover {
  background-color: var(--square-color-hover);
}

.game-result-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 110%;
  border-radius: 10px;
  border: solid black 3px;
  background-color: rgba(74, 48, 93, 0.8);
  z-index: 2;
}

.game-result {
  color: white;
  font-size: 3rem;
  text-shadow: 0 0 25px var(--white-shadow);
}

/* transitions */
.scale-result-enter-active, .scale-result-leave-active {
  transition-property: transform, opacity;
  transition-duration: 0.7s;
}
.scale-result-enter-from, .scale-result-leave-to {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}
