:root {
  --black-shadow: rgba(0, 0, 0, 0.4);
  --white-shadow: rgba(255, 255, 255, 0.4);
  --main-color1: rgb(41, 35, 55);
  --main-color2: rgb(62, 50, 83);
  --square-color: rgba(213, 213, 213, 0.5);
  --square-color-hover: rgba(238, 238, 238, 0.7);
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color1);
}

main {
  margin-top: 40px;
  font-family: "Chewy", system-ui;
}

/* icons */
.p1::before, .p1::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: var(--height);
  width: var(--width);
  border-radius: 10px;
  background-color: red;
  box-shadow: 0 0 30px 1px rgba(255, 0, 0, 0.4);
}
.p1::before {
  transform: translate(-50%, -50%) rotateZ(45deg);
}
.p1::after {
  transform: translate(-50%, -50%) rotateZ(-45deg);
}

.p2::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: var(--radius);
  width: var(--radius);
  border-radius: 100%;
  border: solid var(--width) blue;
  box-shadow: 0 0 30px 1px rgba(0, 0, 255, 0.4), inset 0 0 30px 1px rgba(0, 0, 255, 0.4);
}

.draw::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: var(--height);
  width: var(--width);
  background-color: gold;
  border-radius: 10px;
  box-shadow: 0 0 30px 1px rgba(255, 215, 0, 0.4), inset 0 0 30px 1px rgba(255, 215, 0, 0.4);
}
